
.writer-section{
    width: 100%;
    height: auto;
    /* border: 1px solid gray; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 10px; */
    background-color: #212197;
    color: white;
}

.writer-section > .user-card{
    /* border: 1px solid rgba(173, 173, 173, 0.411); */
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-weight: 400;
    font-size: 0.7em;
    margin: 0.5em;
    padding: 1.6em;
}

.user-card > img{
    width: 8em;
    border-radius: 50%;
}
.user-card > h4, p{
    background: transparent;
    padding: 0.1em;
}
.writer-header{
    /* border: 2px solid red; */
    background-color: #212197;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 3em;
}

@media (max-width: 580px){
    .writer-header{
        font-size: 1em;
    }
    .writer-section{
        grid-template-columns: 1fr 1fr;
        font-size: 0.9em;
    }
    .writer-header{
        margin-top: 8em;
    }
}
@media (max-width: 540px){
    .writer-header{
        margin-top: 10em;
    }
}
@media (max-width: 500px){
    .writer-header{
        margin-top: 7em;
    }
}
@media (max-width: 460px){
    .writer-header{
        margin-top: 8em;
    }
}
@media (max-width: 425px){
    .writer-header{
        margin-top: 9em;
    }
}
@media (max-width: 380px){
    .writer-header{
        margin-top: 10em;
    }
}
@media (max-width: 360px){
    .writer-header{
        margin-top: 9em;
    }
}
@media (max-width: 320px){
    .writer-header{
        margin-top: 10em;
    }
}