* {
  margin: 0;
  padding: 0;
}
.nav {
  /* border-bottom: 1px solid #ccc; */
  text-align: left;
  height: 4em;
  line-height: 4em;
  font-family: "Lato", sans-serif;
}
.nav h2 {
  display: inline-block;
  margin-left: 1em;
}
.menu {
  margin: 0 0 0 40px;
  display: inline-block;
  padding: 0;
  width: 60%;
  font-weight: 800;
}
.menu a {
  text-decoration: none;
  color: black;
  margin: 0 auto;
  line-height: 4em;
  padding: 0 1.4em;
  text-align: center;
}

label {
  margin: 0 0 0 15px;
  font-size: 1.3em;
  line-height: 3.1em;
  display: none;
  width: 1em;
  float: left;
}
#toggle {
  display: none;
}
input.search {
  border: 1px solid #ccc;
  width: 3em;
  position: absolute;
  left: 80%;
  top: 3%;
  padding: 3px 4px;
  border-radius: 10px;
}
@media (max-width: 680px) {
  .nav {
    font-size: 0.8em;
  }
}

@media (max-width: 530px) {
  label {
    display: block;
    cursor: pointer;
    margin-left: 0;
    font-size: 1.3em;
    padding: 0 8px;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
    margin: 0;
    position: absolute;
    background-color: #acacff;
    border-radius: 0 0 10px 10px;
  }
  .menu a {
    border-bottom: 1px solid #ccc;
    display: block;
    margin: 0;
  }
  .menu a:hover {
    background-color: #ccffcc;
    border-radius: 10em;
  }

  .nav h2 {
    /* background-color: yellow; */
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  #toggle:checked ~ .menu {
    display: block;
    z-index: 1;
  }
}
