.navbar-container{
    min-height: 10vh;
    width: 100%;
    /* border: 1px solid gray; */
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.logo{
    width: 5em;
    margin: 0.2em 0;
    border: 1px solid gray;
    text-align: center;
}
.menu-icon{
    /* border: 1px solid green; */
    width: 3em;
    cursor: pointer;
}

nav{
    /* border: 1px solid red; */
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 0.5em;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0.1em 1em;
    padding: 0.1em 0.1em;
}
nav ul li a:hover{
    background-color: rgba(127, 255, 212, 0.226);
    border-radius: 5px;
}


@media screen and (max-width: 630px){
    nav ul li a{
        margin: 0.3em;
    }
    .navbar-container{
        font-size: 0.7em;
    }
}
@media screen and (max-width: 425px){
    .logo{
        margin: 0.2em auto; 
    }
    nav ul {
        display: none;
    }
    
}
   
   
